@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: DM Sans, sans-serif;
  margin: 0;
  background-color: #0d0d0d;
}

p {
  @apply text-lg;
}

a:hover {
  @apply cursor-pointer underline underline-offset-4;
}

section {
  @apply mx-auto full-div grid lg:grid-cols-12 max-w-screen-xl;
}

.full-div {
  @apply box-border h-screen px-8 py-12 md:px-20 md:pt-20 md:pb-10 xl:pt-40 xl:pb-20;
}

.divider {
  width: 40px;
  height: 1px;
  background-color: white;
}
